<%= render 'layouts/navbar' %>

<div class="row">

  <div class="col-md-4" id="active-friends-container">
    <div id="user-info" class="row">
      <div class="col-md-5">
        <%= image_tag(current_user.profile_photo.image.url(:thumb)) if current_user.profile_photo %>
      </div>
      <div class="col-md-7">
        <h3><%= link_to current_user.name, user_path(current_user) %></h3>
        <p><%= link_to "Edit User", edit_user_path(current_user) %></p>
      </div>
    </div>

    <% if @active_friends.count > 0 %>
      <h2>Active Friends</h2>
      <% @active_friends.each do |friend| %>

        <div class="row">
          <div class="col-md-3">
            <% if friend.has_profile_photo? %>
              <%= image_tag friend.profile_photo.image.url(:thumb) %>
            <% else %>
              <%= image_tag "user_silhouette_generic.gif", height: "100px", width: "100px" %>
            <% end %>
          </div>
          <div class="col-md-9">
            <h3><%= friend.name %></h3>
            <p>Last posted <%= friend.posts.last.date %></p>
          </div>
        </div>
      <% end %>
    <% end %>


  </div>

  <div class="col-md-8" id="newsfeed-container">

    <div id="newsfeed-post-form">
      <%= render partial: "post_form", locals: { :post => @post } %> 
    </div>

    <div id="newsfeed-posts">
      <% @newsfeed.each do |item| %>
      <%# because these are posts set post = item, make photo = item if photo %>
      <%# called item because photos may be added to newsfeed later %>
        <% post = item %>
        <%= render partial: "newsfeed_post", locals: {post: post} %>

      <% end %><!-- end posts loop -->
    </div>

</div>


  </div>






</div>