<!-- notice that this is a ROW as well as a navbar -->
  <nav id="login-navbar" class="navbar navbar-default navbar-static-top row">
      <!-- responsive mobile stuff collapses down  -->
      <div class="navbar-header col-md-3">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <!--company brand link -->
        <a class="navbar-brand" id = "brand-link" href="#">Danebook</a>
      </div>
      
      <!-- wraps rest of links to collapse in mobile-->
      <div id="main-navbar-collapse" class="collapse navbar-collapse col-md-9 navbar-right" >
      
      <!-- rows and columns control button placement -->  
          
          <%= form_tag session_path, {class: "navbar-form row", role: 'login'} do %>
          <!-- Yes, kids, even a form-group can be a column -->
            <div class="col-md-4 col-sm-4 form-group">
              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" placeholder="Email">
            </div>

            <div class="col-md-4 col-sm-4 form-group">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password">

              <%= label_tag do %>
                Remember me?
                <%= check_box_tag :remember_me, true %>
              <% end %>
            </div>

            <div class="col-md-4 col-sm-4 form-group">
            <!-- empty label to line up submit button -->
              <label for="submit">&nbsp;</label><br>
              <!-- unless you really need it, use basic Bootstrap button styles -->
              <%= submit_tag "Login", class: "btn btn-info" %>
            </div>
          <% end %>
          
      </div><!--navbar-collapse-->
  </nav>
  
  
  
<!--contains everything below the navbar-->
  <main>
    <%= render 'layouts/flash' %>
    <div class="row">


      <!--Promo copy, pushed right one column-->
      <section class ="col-md-6 col-md-offset-1">
        <h2>Connect with all your friends!</h2>
        <ul>
          <li><strong>See photos and updates</strong> in your news feed.</li>
          <li><strong>Post your status for the world to see</strong> from your profile.</li>
          <li><strong>Get in touch with your friends</strong> by "friending" them.</li>
          <li><strong>Like things</strong> because you're a positive person!</li>
        </ul>
      </section>



      <!--Signup form section, stops one column from the right-->
      <section class="col-md-4" id="sign-up-forms">
        <h2>Sign Up</h2>
        <!-- Rows alternate with columns -->
        <%= form_for @user, html: { class: "row" } do |user_fields| %>
          <%= user_fields.fields_for :profile do |profile_fields| %>
              <div class="form-group" id="signup-width">
                <div class="col-md-6">
                  <%= profile_fields.text_field :first_name, id: "firstName", placeholder: "First Name", class: "form-control" %>
                </div>
                <div class = "col-md-6">
                  <%= profile_fields.text_field :last_name, id: "lastName", placeholder: "Last Name", class: "form-control" %>

                </div>
              </div>
            
            
            <div class="row">
              <div class="col-md-12 form-group">
                <%= user_fields.text_field :email, class: "form-control", id: "signup-email", placeholder: "Your Email" %>
                <%= user_fields.password_field :password, class: "form-control", id: "signup-password", placeholder: "Enter Your Password" %>
                
                <%= user_fields.password_field :password_confirmation, id: "signup-password-confirm", placeholder: "Confirm Your Password", class: "form-control" %>
              </div>
            </div>
            
            <div class="row form-inline">
              <div id="birthday" class="form-group col-md-12">
                <label for="birthday">Birthday</label><br>


                <!-- Copy-pasted all these from Web sources -->
                <%= profile_fields.date_select :birthday, start_year: 1914, end_year: 2016, class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class ="col-md-12"> 
                <label class="radio-inline">
                  <%= profile_fields.radio_button :gender, "male", id: "inlineRadio1" %>Female
                </label>
                <label class="radio-inline">
                  <%= profile_fields.radio_button :gender, "male", id: "inlineRadio2" %>Male
                </label>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <%= user_fields.submit "Sign Up!", class: "form-control btn btn-success btn-block", id: "btn-signup" %>
              </div>
            </div>

          <% end %>
        <% end %>
        
      </section>
      
    </div><!--row-->
  </main> 