<%= render partial: "layouts/backdrop", locals: { :user => @user } %>

<!-- This part changes page by page -->
      <section class="container" id="information-pane">
        <header class="row">
          <div class="col-md-offset-2 col-md-8 about-header">
            <h2>Edit Profile</h2>
          </div>
        </header>


        <%= form_for @user, html: { class: "row" } do |user_fields| %>
          <%= user_fields.fields_for :profile do |profile_fields| %>
          <div class = "col-md-5 col-md-offset-1">
            <h3>Basic Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Birthday:</td>
                <td><%= profile_fields.date_select :birthday, class: "form-control" %></td>
              </tr>
              <tr>
                <td>College:</td>
                <td><%= profile_fields.text_field :college, class: "form-control" %></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><%= profile_fields.text_field :hometown, class: "form-control" %></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><%= profile_fields.text_field :current_location, class: "form-control" %></td>
              </tr>
            </table>

            <h3>Contact Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Email:</td>
                <td><%= user_fields.text_field :email, class: "form-control" %></td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td><%= profile_fields.text_field :phone, class: "form-control" %></td>
              </tr>
            </table>

          </div>

          <div class = "col-md-5">
            <h3>Words to live by</h3>
            <%= profile_fields.text_area :words_to_live_by, class: "form-control", :rows => "3" %>
            <h3>About me</h3>
            <%= profile_fields.text_area :about, class: "form-control", rows: "9" %>

            <%= profile_fields.hidden_field :first_name, value: @user.profile.first_name %>

            <%= profile_fields.hidden_field :last_name, value: @user.profile.last_name %>
          </div>

          <div class="form-group col-md-6 col-md-offset-3">
            <%= user_fields.submit "Save changes!", class: "btn btn-leg btn-block btn-default", id: "save-profile" %>
          </div>
        <% end %>
        <% end %>
      </section>

    </main>



