<%= render partial: 'layouts/backdrop', locals: { user: @page_owner } %>

<% if @friends.count > 0 %>
  <section class="container" id="information-pane">
    <header class="row">
      <div class="col-md-offset-2 col-md-8 about-header">
        <h2>Friends</h2>
      </div>
    </header>


    <div class = "row" id="friends-list">

      <!--Individual friend surrounded by border-->
      <% @friends.each do |friend| %>
        <div class="col-md-6 friend-list-entry">
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <a href="#">
                <%= image_tag "user_silhouette_generic.gif", height: "100px", width: "100px" %>
              </a>
            </div>
            <div class="col-md-5 col-xs-6">
              <p><a href="#"><%= friend.name %></a></p>
              <p><%= friend.friended_users.count %> Friends</p>
            </div>
            <form class="col-md-4 col-xs-12">
              <div class="form-group">
  
                <%= link_to "Unfriend Me", friending_path(friend), method: "delete", class: "btn btn-default btn-unfriend", type: "submit" %>

              </div>
            </form>
          </div>
        </div><!--friend entry-->

        
      <% end %>
      

    </div>
  </section>
<% end %>
</main>