<%= render partial: "layouts/backdrop", locals: { :user => @user } %>


<!-- THIS PART CHANGES PAGE BY PAGE -->
      <section class="container" id="information-pane">
        <header class="row">
          <div class="col-md-offset-2 col-md-8 about-header">
            <h2>About</h2>
          </div>
          <div class="col-md-2 about-header">
            <div class="form-group">
            <% if current_user.id === @user.id %>
              <%= link_to "Edit your Profile", edit_user_path(@user), class: "btn btn-default", id: "edit-profile-button" %>
            <% end %>
            </div>
          </div>
        </header>


        <div class = "row">
          <div class = "col-md-5 col-md-offset-1">
            <h3>Basic Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Birthday:</td>
                <td><%= @user.profile.birthday %></td>
              </tr>
              <tr>
                <td>College:</td>
                <td><%= @user.profile.college %></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><%= @user.profile.hometown %></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><%= @user.profile.current_location %></td>
              </tr>
            </table>

            <h3>Contact Information</h3>
            <table class = "table about-table">
              <tr>
                <td>Email:</td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td><%= @user.profile.phone %></td>
              </tr>
            </table>

          </div>

          <div class = "col-md-5">
            <h3>Words to live by</h3>
            <p><%= @user.profile.words_to_live_by %></p>
            <h3>About me</h3>
            <p><%= @user.profile.about %></p>
          </div>
        </div>
      </section>

    </main>
