<% owner = comment.user %>
<div class="photo-comment">
  <div class="photo-comment-owner row">
    <div class="col-xs-3">
      <%= image_tag(owner.profile_photo.image.url(:thumb), height: "60px", width: "60px") if owner.has_profile_photo? %>
    </div>

    <div class="col-xs-9">
      <%= link_to comment.user.name, user_path(comment.user) %>
      <p>Said on <%= comment.date %></p>
    </div>
  </div><!-- end comment owner -->

  <div class="row comment-content">
    <p><%= comment.content %></p>
  </div>

  <div class="row photo-comment-like-info">
    <div class="col-xs-2">  
      <%= like_link_display_comment(comment) %>
    </div>

    <div class="col-xs-10">
      <%= like_display(comment) %>
    </div>
  </div>

</div>