<div class="row photo-show">

  <div class="col-md-8 photo-show-section">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photo.image.url, width: "600px" %>
      </div>
    </div>
    <% if @photo.user.id == current_user.id %>
      <div class="row">
        <div class="col-md-2 pull-right" id="photo-links">
          <%= link_to "Set as Profile", user_set_profile_photo_path(current_user.id, photo_id: @photo.id), method: :post  %>
          <%= link_to "Set as Cover", user_set_cover_photo_path(current_user.id, photo_id: @photo.id), method: :post %>
          <%= link_to "Delete Photo", photo_path(@photo.id), method: :delete %>
        </div>
      </div>
    <% end %>

  </div>


  <div class="col-md-4 photo-show-section">
    <div id="header">
      <div id="user-info" class="row">
        <div class="profile-photo col-xs-2">
          <%= link_to user_path(@user) do %>
            <%= image_tag(@user.profile_photo.image.url(:thumb), height: "60px", width: "60px") if @user.has_profile_photo? %>
          <% end %>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="name col-xs-12">
              <%= link_to @user.name, user_path(@user) %>
            </div>

            <div class="photo-created-at col-xs-12">
              <%= @photo.date %>
            </div>
          </div>
        </div>

        

      </div><!-- end user-info -->

      <div id="like" class="row">
        <div class="col-xs-3">
          <%= like_link_display_photo(@photo) %>
        </div>

        <div id="like-display" class="col-xs-9">
          <p><%= like_display(@photo) %></p>
        </div>

      </div>
    </div>

    

    <div id="comment-form" class="row">
      <div class="col-xs-12">
        <%= form_tag photo_comments_path(@photo), remote: true do %>
          <div class="row">
            <%= text_area_tag "comment[content]", nil, placeholder: "Write a comment", size: "50x5" %>
          </div>

          <div class="row">
            <%= submit_tag "create comment", class: "btn btn-primary pull-right", id: "comment-btn" %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="photo-comments">
      <% @photo.comments.each do |comment| %>
        <%= render partial: "comment", locals: {comment: comment} %>
      <% end %>
    </div>


  </div>

</div>
