<article class ="col-md-12 comment">
  <div class="col-md-1">
    <% if comment.user && comment.user.profile_photo %>
      <%= image_tag(comment.user.profile_photo.image.url(:thumb), size: "60x60") %>
    <% end %>
  </div>

  <div class="col-md-11">
    <p class="col-md-12"><a href="#"><%= comment.user.name if comment.user %></a> Said on <%= comment.created_at %></p>
    <p class = "col-md-12"><%= comment.content %></p>
    
    <%= like_link_display_comment(comment) %>
    <span class="col-md-10"><%= like_display(comment) %></span>
    <%= display_delete_link_comment(comment) %>
      
  </div>

</article>