<article class="row">
  <header class="col-md-12">
    <div class="col-md-3">
      <%= image_tag post.user.profile_photo.image.url(:thumb) %>
    </div>
    <div class="col-md-9">
      <p><%= link_to post.user.name, user_path(post.user) %></p>
      <p class="date-posted">Posted on <%= post.created_at.strftime("%m-%d-%Y") %></p>
    </div>
  </header>

  <section class="col-md-12 post-body">
    <p><%= post.content %></p>
  </section>

  <section class ="col-md-12 like-section">
    <%= like_link_display(post) %>
    <a class="col-md-2" href = "#">Comment</a>
    <%= display_delete_link(post) %>
    <p class="col-md-12"><%= like_display(post) %></p>
  </section>


<%= render partial: "comment_section", locals: { :post => post } %>

</article>