<%= render partial: 'layouts/flash', locals: { :flash => flash } %>
<%= render partial: 'layouts/backdrop', locals: { :user => @user } %>


      <section class = "container" id="timeline">
        <div class="row" id="information-column">

          <!--details-->
          <aside class ="col-md-4" id="details">
            <%= render partial: 'timeline_about', locals: {
              :user => @user } %>
            

            <%= render partial: 'timeline_photos' %>
            
            <%= render 'friends' %>

          </aside>


            <!--post feed-->
            <div class="col-md-7 col-md-offset-1" id="post-feed">
  
              

              <%= render partial: 'posts', locals: { :post => @post, :posts => @posts } %>
  
            </div><!-- end post feed !-->
            

          </div>



        
      </section>

    </main><!-- opening tag in backdrop partial ->
