<%= render partial: 'layouts/backdrop', locals: { :user => @user } %>
<%= render 'flash' %>

      <section class = "container" id="timeline">
        <div class = "row" id = "information-column">

          <!--details-->
          <aside class = "col-md-4" id = "details">
            <section class = "row" id = "timeline-about">
              <header class="col-md-12">
                  <h4>About (text area)</h4>
              </header>


              <table class = "table about-table col-md-12">
                <tr>
                  <td>Born on:</td>
                  <td>July 31st, 1980</td>
                </tr>
                <tr>
                  <td>Went to school at:</td>
                  <td>Hogwarts College</td>
                </tr>
                <tr>
                  <td>Hometown:</td>
                  <td>Godrick's Hollow, England</td>
                </tr>
                <tr>
                  <td>Currently Lives:</td>
                  <td>Godrick's Hollow</td>
                </tr>
              </table>
            </section>

            <section class = "row" id= "timeline-photos">
              <header class="col-md-12">
                  <h4>Photos (123) (copied text area)</h4>
              </header>

              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-4 photo">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <div class = "photo-upload-date">
                  <p>Uploaded January 1, 2015</p>
                </div>
              </div>
              <div class="col-md-12">
                <a href="photos.html">See more photos!</a>
              </div>

            </section><!--photos-->

            <section class = "row" id = "timeline-friends">
              <header class="col-md-12">
                  <h4>Friends: 542 (copy text area)</h4>
              </header>

              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">Ron<br> Weasley</a></p>
              </div>
              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">Ginny<br> Weasley</a></p>
              </div>
              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">Hermione<br> Granger</a></p>
              </div>
              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">paragraph<br> text</a></p>
              </div>
              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">paragraph<br> text</a></p>
              </div>
              <div class="col-md-4 friend">
                <a class = "photo-link" href="#">
                  <img src="assets/user_silhouette_generic.gif">
                </a>
                <p><a href="#">paragraph<br> text</a></p>
              </div>

              <div class="col-md-12">
                <a href="friends.html">See more friends</a>
              </div>
            </section>

          </aside>


          <!--post feed-->
          <div class = "col-md-7 col-md-offset-1" id = "post-feed">

            <% if current_user %>
              <%= form_for [current_user, @post], html: { class: "row", id: "post-form" } do |post_fields| %>
                <div class = "col-md-12">
                  <h5>Post (copied)</h5>
                </div>
                <div class = "col-md-12" id = "post-textarea-col">
                  <div class = "form-group">
                    <%= post_fields.text_area :content, class: "form-control", rows: "3", placeholder: "Tell the world something..." %>
                  </div>
                </div>

                <div class = "col-md-12" >
                  <div class = "form-group pull-right">
                    <%= post_fields.submit "Post", class: "btn btn-primary", role: "Post" %>
                  </div>
                </div>
              <% end %>
            <% end %>
            <% @posts.each do |post| %>
              <article class = "row">
                <header class = "col-md-12">
                  <div class ="col-md-2">
                    <img class src = "assets/user_silhouette_generic.gif">
                  </div>
                  <div class="col-md-10">
                    <p><%= link_to @user.name, @user %></p>
                    <p class = "date-posted">Posted on <%= post.created_at.strftime("%m-%d-%Y") %></p>
                  </div>
                </header>

                <section class = "col-md-12 post-body">
                  <p><%= post.content %></p>
                </section>

                <section class = "col-md-12 like-section">
                  <%= like_link_display(post) %>
                  <a class="col-md-2" href = "#">Comment</a>
                  <%= display_delete_link(post) %>
                  <p class="col-md-12"><%= who_liked_display(post) %></p>
                </section>


              <section class="col-md-12 comment-section">
                <article class = "col-md-12 comment">
                  <% if post.comments.any? %>
                      <% post.comments.each do |comment| %>
                      <div class = "col-md-2">
                        <img src = "assets/user_silhouette_generic.gif">
                      </div>
                    
                        <div class = "col-md-10">
                          <p class = "col-md-12"><a href="#"><%= comment.user.name %></a> Said on <%= comment.created_at %></p>
                          <p class = "col-md-12"><%= comment.content %></p>
                          <%= like_link_display_comment(comment) %>
                          <span class = "col-md-10"><%= who_liked_display_comment(comment) %></span>
                          <%= display_delete_link_comment(comment) %>
                      <% end %>
                    <% end %>
                </article> <!--comment-->

                <!--post a comment form -->
                
                <% comment = post.comments.build %>
                <%= form_for [post, comment], :url => post_comments_path(post), html: {class: "col-md-12", method: "POST"} do |comment_fields| %>
                  <div class="form-group">
                    <%= comment_fields.text_area :content, placeholder: "Write a comment...", class: "form-control", rows: "4" %>
                  </div>
                  <div class="form-group">
                    <a class="col-md-1" href="#">Cancel</a>
                    <%= comment_fields.submit "Comment", class: "col-md-3 pull-right btn btn-primary" %>
                  </div>
                <% end %>
              </section>

              </article><!--post 1-->
            <% end %><!-- end posts loop ->

            

          </div>



        </div>
      </section>

    </main><!-- opening tag in backdrop partial ->
